#table {
    padding: 8px;
    width: 100%;
    border-bottom: 1px solid rgb(5, 59, 46);
    text-align: left;
    
}
#table tr:nth-child(odd) {
    background-color: lightgrey;
}


.background {
    background-color: darkcyan;
    height: 250px;
}

.font {
    font-family: Arial, Helvetica, sans-serif;
}